@using OrchardCore
@inject IOrchardHelper Orchard
@await RenderSectionAsync("Styles", required: false)
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LiveGuardTech</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"
    />
</head>
<body>
<div @*class="container"*@>
    <main role="main">
        @RenderBody()
    </main>
</div>

@{
    var icons = await Orchard.GetContentItemByAliasAsync("alias:appicon");
}

<footer id="footer" class="border-top footer text-muted">
    <div class="container">
        &copy; 2022 - LiveGuardTech - <a asp-page="/Privacy">Privacy</a>
    </div>
    @*<div>
        <a href="https://drive.google.com/file/d/1tXpBkpNmY5Y7VNVws0_8GBiJEr-jIZTZ/preview" target="_self" rel="modal:open">
            <img asset-src="@((string)icons.Content.AppIcon.Icon.Paths[0])"  />
        </a>
    </div>*@
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
<partial name="_ValidationScriptsPartial" />
<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>

<script>
    var swiper = new Swiper(".mySwiper", {
        effect: "coverflow",
        grabCursor: true,
        centeredSlides: true,
        slidesPerView: 3,
        initialSlide: 1,
        coverflowEffect: {
            rotate: 50,
            stretch: 0,
            depth: 100,
            modifier: 1,
            slideShadows: false,
        },
        pagination: {
            el: ".swiper-pagination",
        },
    });
</script>

@await RenderSectionAsync("Scripts", required: false)


</body>
</html>