@page
@using OrchardCore
@model Pages.IndexModel
@inject IOrchardHelper Orchard

@{
    //Layout = "Shared/_Layout";
    ViewData["Title"] = "Home page";
}

<div class="hero-container">

    <img class="logo" src="images/logo.png" alt="">

    <div class="play">
        <p> What we do in ninety seconds</p>
        <a href="https://drive.google.com/file/d/1tXpBkpNmY5Y7VNVws0_8GBiJEr-jIZTZ/preview" target="_self" rel="modal:open">
            <img src="images/play-min.png" alt="">
        </a>
        @*<button onclick="displayIframe()">
            <img src="images/play-min.png" alt="">
        </button>
        <div id="IFrameDisplay"></div>*@
        
    </div>
</div>

<main>
    <section>
        <div class="bodytext">
            @{
                var companyHeading = await Orchard.GetContentItemByIdAsync("4vyqpgpgs8dr511e4zkbbd3pwj");
            }
            <h3>@companyHeading</h3>
            @{
                var heading = await Orchard.GetContentItemByIdAsync("441a7r6k4b0e870418gp06fhnb");
            }
            <p> @heading </p>
        </div>
        <div class="container">
            <br/>
            <div class="row">
                @{
                    var services = await Orchard.GetContentItemByAliasAsync("alias:services");              
                }
                
                @foreach (var service in services.Content.BagPart.ContentItems)
                {
                    <div class="col-lg-6 d-flex align-items-stretch">
                        <div class="card">
                            <div class="card-title">
                                <h2>@service.DisplayText</h2>
                            </div>
                            <div class="card-body">
                                @Html.Raw(service.HtmlBodyPart.Html)
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
    <section>
        <div class="row">
            <div class="col-md-6">
                <img class="testimonial" src="images/Testimonial1.png"/>
             </div>
        </div>
    </section>
    
    <a id="costsavingsbutton" asp-page="/CostSavingsCalculator">Click to see how much you can $AVE!</a>
    

</main>
@section Scripts {
    <script type='text/javascript'>
        function displayIframe() {
            document.getElementById("IFrameDisplay").innerHTML =
                "<iframe height=\"1200px\" width=\"1000px\" src=\"https://drive.google.com/file/d/1tXpBkpNmY5Y7VNVws0_8GBiJEr-jIZTZ/preview\"></iframe>";
        }
    </script>
}
