@page
@model CamViewV2.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
}
<h1>Client Login</h1>
<hr/>
<div class="container-sm align-content-center mt-5">
    <form method="post">
        <div class="mb-3 form-floating">
            <label class="form-label">Username</label>
            <input type="text" class="form-control" />
        </div>
        <div class="mb-3 form-floating">
            <label class="form-label">Password</label>
            <input type="password" class="form-control" />
        </div>
        <div class="d-grid gap-2">
            <button class="btn login-btn">Log in</button>
        </div>
    </form>
</div>