<div class="centerTable">
<div class="d-flex align-items-stretch">
<div class="row savingsTable">
    <div class="card savingsForm">
        <div class="card-title">
            <h2>Security Guard vs Live Guard Tech</h2>
        </div>

        <table class="table1 table-bordered">
            <tbody class="card-body savingsFormKeys">
            <form id="calculateForm">
                <tr>
                    <td>Hours A Day</td>
                    <td>
                        <div class="btn-group numberOfHours" role="group">
                            <button type="button" class="btn btn-secondary btn-danger" value="8">
                                8
                            </button>
                            <button type="button" class="btn btn-secondary" value="12">
                                12
                            </button>
                            <button type="button" class="btn btn-secondary" value="24">
                                24
                            </button>
                        </div>
                    </td>
                    <td rowspan="3">Number of Units</td>
                    <td id="totalUnits" rowspan="3">
                        <div class="btn-group numberOfUnits" role="group">
                            <button type="button" class="unitbutton btn btn-secondary btn-danger" value="1">
                                1
                            </button>
                            <button type="button" class="unitbutton btn btn-secondary" value="2">
                                2
                            </button>
                            <button type="button" class="unitbutton btn btn-secondary" value="3">
                                3
                            </button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Days A Week</td>
                    <td>
                        <div class="btn-group daysPerWeek" role="group">
                            <button type="button" class="btn btn-secondary btn-danger" value="2">
                                2
                            </button>
                            <button type="button" class="btn btn-secondary" value="5">
                                5
                            </button>
                            <button type="button" class="btn btn-secondary" value="7">
                                7
                            </button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Rate Of Pay</td>
                    <td>
                        <div class="btn-group hourlyRate" role="group">
                            <button type="button" class="btn btn-secondary btn-danger" value="15">
                                $15
                            </button>
                            <button type="button" class="btn btn-secondary" value="18">
                                $18
                            </button>
                            <button type="button" class="btn btn-secondary" value="21">
                                $21
                            </button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        Annual Cost
                        <br/>
                        (OVERTIME & HOLIDAYS not included)
                    </td>
                    <td class="guardResult">$ 12480</td>
                    <td>
                        Annual Cost<br/> (OVERTIME & HOLIDAYS not included)
                    </td>
                    <td class="lgtGuardResult">
                        $ 9000
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>Annual Savings
                        <br/>
                        With LiveGuard Tech
                    </td>
                    <td class="annualSavings">$ 3480</td>
                </tr>
            </form>
            </tbody>
        </table>

    </div>
</div>
<div class="row patrolTable">
    <div class="card">
        <div class="card-title">
            <h2>Patrol Service vs Live Guard Tech</h2>
        </div>
        <table class="table1 table-bordered">
            <tbody class="card-body">
            <form id="calculateForm1">
                <tr>
                    <td>#of Stops</td>
                    <td>
                        <div class="btn-group numberOfStops" role="group">
                            <button type="button" class="btn btn-secondary btn-danger" value="1">
                                1
                            </button>
                            <button type="button" class="btn btn-secondary" value="2">
                                2
                            </button>
                            <button type="button" class="btn btn-secondary" value="3">
                                3
                            </button>
                        </div>
                    </td>
                    <td rowspan="3">Number of Units</td>
                    <td id="totalUnits1" rowspan="3">
                        <div class="btn-group numberOfUnits1" role="group">
                            <button type="button" class="unitbutton btn btn-secondary btn-danger" value="1">
                                1
                            </button>
                            <button type="button" class="unitbutton btn btn-secondary" value="2">
                                2
                            </button>
                            <button type="button" class="unitbutton btn btn-secondary" value="3">
                                3
                            </button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>#of Minutes Per Stop</td>
                    <td>
                        <div class="btn-group minutesPerStop" role="group">
                            <button type="button" class="btn btn-secondary btn-danger" value="5">
                                5
                            </button>
                            <button type="button" class="btn btn-secondary" value="10">
                                10
                            </button>
                            <button type="button" class="btn btn-secondary" value="15">
                                15
                            </button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>#of Nights</td>
                    <td>
                        <div class="btn-group numberOfNights" role="group">
                            <button type="button" class="btn btn-secondary btn-danger" value="3">
                                3
                            </button>
                            <button type="button" class="btn btn-secondary" value="5">
                                5
                            </button>
                            <button type="button" class="btn btn-secondary" value="7">
                                7
                            </button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        Hours of Coverage
                        <br/>
                        Per MONTH
                        <br/>
                    </td>
                    <td class="patrolServiceResult"> 1 </td>
                    <td>
                        Hours of Coverage <br/> Per MONTH
                    </td>
                    <td id="lgtHoursOfCoverage">
                        826
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>ADDITIONAL hours
                        <br/>
                        of coverage
                        <br/>
                        With LiveGuard Tech
                    </td>
                    <td id="additionalHours"> 825 </td>
                </tr>
            </form>
            </tbody>
        </table>
    </div>
</div>
</div>
</div>