@page
@model CamViewV2.Pages.Solutions.CarDealershipsModel
@{
}

<div class="cars-container">

    <video id="videoplayer" class="constructionvideo"
           src="@Url.Content("/videos/cars-1.mp4")" controls="controls">
    </video>
</div>

<div class="gated-card">
    <div class="card-title">
        <h2>CAR DEALERSHIPS</h2>
    </div>
    <div class="card-body">
        <p>Car dealerships are the perfect environment for video surveillance, both because of the value of the inventory and its susceptibility to theft. Dealerships often leave a large majority of their inventory out in open parking lots – leaving million dollar inventories exposed to theft and vandalism unwatched for hours at a time.</p>
    </div>
</div>

<div class="gated-card">
    <div class="card-title">
        <h2>A SECURE PARKING LOT, EVEN BETTER WITH US</h2>
    </div>
    <div class="card-body">
        <p>Car dealerships have the same security issues that many other businesses face with the complexity of easily accessible assets. Because of the accessibility Proactive security is something that needs to be considered on every lot. Theft is most likely to happen during the night. Using a LGT system can protect an expensive inventory and prevent theft and vandalism.</p>
    </div>
</div>
