@page
@model CamViewV2.Pages.Solutions.CommercialPropertiesModel
@{
}

<div class="commercial-container">

    <video id="videoplayer" class="constructionvideo"
           src="@Url.Content("/videos/com-1.mp4")" controls="controls">
    </video>
</div>

<div class="gated-card">
    <div class="card-title">
        <h2>COMMERCIAL PROPERTIES</h2>
    </div>
    <div class="card-body">
        <p>We are confident that we are the best solution for your commercial property. We have the technology that gives us an incredible advantage. When activity first occurs our “LIVE” monitoring specialists are warned about activity through an internally created software program that recognizes all movement.</p>
    </div>
</div>

<div class="gated-card">
    <div class="card-body">
        <p>The monitoring specialist connects through 2-way communication (an industry first) and asks the intruder to leave or provide valid proof for entrance. If it is an intruder and they do not leave immediately, we activate our sirens and strobe lights. If there is not an immediate exit, we notify police and realize a significantly increased response time.</p>
    </div>
</div>
