@page
@model CamViewV2.Pages.Solutions.ConstructionModel
@{
}

<div class="construction-container">
    @* <video class="constructionvideo" autoplay loop controls="controls">
        <source src="https://youtu.be/H68Iqm6c36U" type="video/mp4" />
     </video>*@
    
    <video id="videoplayer" class="constructionvideo"
           src="@Url.Content("/videos/const-1.mp4")" controls="controls">
    </video>
</div>

<div class="construction-card">
    <div class="card-title">
        <h2>CONSTRUCTION</h2>
    </div>
    <div class="card-body">
        <p>Your construction site has valuable property, equipment and materials so theft is a financial burden that can set a project budget off track. A loss can also cause scheduling delays that interrupt an entire project.</p>
    </div>
</div>

<div class="construction-card">
    <div class="card-title">
        <h2>YOU CONSTRUCT BUILDINGS, WE BUILD CONFIDENCE</h2>
    </div>
    <div class="card-body">
        <p>When activity first occurs our “LIVE” monitoring specialists are warned about activity through an internally created software program that recognizes all movement. Let us “Proactively” help your project stay on schedule and in budget.</p>
    </div>
</div>

<div class="construction-card">
    
    <div class="card-body">
        <p>We are confident that we are the best solution for your construction site. We have the technology that gives us an incredible advantage. We are 'LIVE' monitoring your site, so when activity occurs it’s 'PROACTIVE', not a reactive response like other solutions being offered today.</p>
    </div>
</div>
