@page
@model CamViewV2.Pages.Solutions.GatedCommunitiesModel
@{
}

<div class="gated-container">

    <video id="videoplayer" class="constructionvideo"
           src="@Url.Content("/videos/gcom-1.mp4")" controls="controls">
    </video>
</div>

<div class="gated-card">
    <div class="card-title">
        <h2>GATED COMMUNITIES</h2>
    </div>
    <div class="card-body">
        <p>A well-placed sign will announce to everyone that they are under video surveillance. Due to our extensive use of cutting edge technology. Our monitoring team can interact with the person attempting access and determine the threat level.</p>
    </div>
</div>

<div class="gated-card">
    <div class="card-title">
        <h2>YOU ARE SLEEPING, WE ARE AWAKE</h2>
    </div>
    <div class="card-body">
        <p>Rather than have a tenant call in the morning and say there was a burglary, vandalism, or break-in, let us keep the problems off your site before they occur. Our goal is to monitor your property preventing and crime from ever starting. We offer a more comprehensive solution than standing guards or patrol services. </p>
    </div>
</div>
