@page
@model CamViewV2.Pages.Solutions.IndustrialModel
@{
}

<div class="industrial-container">

    <video id="videoplayer" class="constructionvideo"
           src="@Url.Content("/videos/ind-1.mp4")" controls="controls">
    </video>
</div>

<div class="gated-card">
    <div class="card-title">
        <h2>INDUSTRIAL</h2>
    </div>
    <div class="card-body">
        <p>Industrial sites like factories and warehouses can benefit greatly from the security provided by video surveillance. Increased terrorism threats and theft of raw materials have made the manufacturing, storing and shipping of important goods riskier and more expensive in recent years. We are able to assist in access control, yard management, delivery schedules, and loss prevention.</p>
    </div>
</div>

<div class="gated-card">
    <div class="card-title">
        <h2>YOUR SAFETY IS OUR PRIORITY</h2>
    </div>
    <div class="card-body">
        <p>Industrial sites, especially those in urban areas, experience problems with intruders and thieves, for example. Copper theft can shut down an operation and cause costly delays. Prominently displayed security cameras can prevent theft from occurring and help you identify those who do steal or vandalize your property. The cameras can also protect employers from wrongful injury suits and monitor fot potential occupational hazards.</p>
    </div>
</div>
